:root {
    color-scheme: dark;
}

html, body {
    height: 100%;
    margin: 0;
}

#main, #secondary {
    height: 100dvh;
    width: 100%;
    display: block;
    grid-area: 1 / 1;
}

section {
    display: grid;
}